<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <title>VasirEngine Interaction</title>
    <!-- CSS -->
    <link href='/static/css/style-all.css' rel='stylesheet' type='text/css'>
</head>
<body>
<div id='site_wrapper'>
     <!-- ================================
        Header
        ================================= -->
    <div id='header_wrapper'>
        <div id='header'>
            <div id='logo'>
                <h1>
                    <a href='/' rel='nofollow'
                        title=''>
                        Vasir Tactics
                    </a>
                </h1>
            </div>

            <div id='site_nav_wrapper'>
                <div id='site_nav'>
                    <ul>
                        <li>
                            <span id='link_about'>About</span>
                        </li>
                    </ul>
                    <div class='clear'></div>
                </div>
            </div>
        </div>
    </div>

     <!-- ================================
        Content
        ================================= -->
    <div id='content_wrapper'>
        <div id='content'>
            <!-- ================================ 
                Engine Actions
                ================================= -->
            <div id='game_left_side_wrapper'>
                <div id='game_left_side'>
                    <!-- Actions? -->
                    <div class='spells_wrapper'>
                        <h2>Spells</h2>
                        <ul class='spells'></ul>
                    </div>
                </div>
            </div>

            <!-- ================================ 
                Canvas (World representation)
                ================================= -->
            <div id='game_wrapper'>
                <div id='game'>
                    <div id='canvas_wrapper'>
                        <svg version='1.1' id='game_canvas' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'>
                            
                            <!-- Filters -->
                                <defs id='filters'>

                    <filter
                           color-interpolation-filters="sRGB"
                           id="jaggedEdge">
                          <feTurbulence
                             baseFrequency="0.08"
                             type="fractalNoise"
                             seed="0"
                             numOctaves="5"
                             id="feTurbulence5171" />
                          <feGaussianBlur
                             result="result91"
                             stdDeviation="0.5"
                             id="feGaussianBlur5173" />
                          <feDisplacementMap
                             in2="result91"
                             scale="20"
                             xChannelSelector="R"
                             yChannelSelector="G"
                             in="SourceGraphic"
                             result="result1"
                             id="feDisplacementMap5175" />
                          <feComposite
                             in2="SourceGraphic"
                             operator="atop"
                             in="result1"
                             id="feComposite5177" />
                        </filter>


                                    <filter x="-0.30000001"
                                       y="-0.5"
                                       width="1.6"
                                       height="2"
                                       color-interpolation-filters="sRGB"
                                       id="waterColor1">
                                      <feGaussianBlur
                                         result="result8"
                                         stdDeviation="15"
                                         id="feGaussianBlur3948" />
                                      <feTurbulence
                                         baseFrequency="0.028"
                                         numOctaves="4"
                                         type="fractalNoise"
                                         result="result7"
                                         seed="27"
                                         id="feTurbulence3950" />
                                      <feComposite
                                         in2="result8"
                                         operator="over"
                                         in="result7"
                                         result="result6"
                                         id="feComposite3952" />
                                      <feColorMatrix
                                         values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 6 -4 "
                                         result="result9"
                                         id="feColorMatrix3954" />
                                      <feDisplacementMap
                                         in2="result9"
                                         scale="50"
                                         xChannelSelector="A"
                                         yChannelSelector="A"
                                         in="result7"
                                         result="result4"
                                         id="feDisplacementMap3956" />
                                      <feComposite
                                         in2="result4"
                                         operator="in"
                                         in="result8"
                                         result="result2"
                                         id="feComposite3958" />
                                      <feComposite
                                         in2="result9"
                                         operator="in"
                                         in="result2"
                                         result="fbSourceGraphic"
                                         id="feComposite3960" />
                                      <feComposite
                                         in2="fbSourceGraphic"
                                         operator="arithmetic"
                                         k1="0.5"
                                         k2="1"
                                         k3="0"
                                         k4="0"
                                         in="fbSourceGraphic"
                                         result="result91"
                                         id="feComposite3962" />
                                      <feBlend
                                         in2="result91"
                                         mode="multiply"
                                         in="fbSourceGraphic"
                                         id="feBlend3964" />
                                    </filter> 
                                </def>
                            </filters>


                        </svg>
                    </div>
                </div>
            </div>

            <!-- ================================ 
                Right Side (info) wrapper
                ================================= -->
            <div id='game_right_side_wrapper'>
                <div id='game_right_side'>

                    <!-- Player info -->
                    <div id='game_player_info_wrapper'>
                        <h2>Player</h2>
                        <!-- insert template here -->
                        <ul class='player_list'>

                        </ul>
                    </div>
                    <!-- Player Mana -->
                    <div id='game_player_mana_wrapper'>
                        <h2>Mana</h2>
                        <!-- insert template here -->
                        <div class='player_mana'>
                            <span class='mana_amount'></span> mana
                        </div>
                    </div>
                    <!-- Current Selection -->
                    <div id='game_target_wrapper'>
                        <h2>Target</h2>
                        <div class='game_target'></div>
                    </div>

                    <div id='game_actions_wrapper'>
                        <h2>Actions</h2>
                        <ul>
                            <li class='end_turn button'>End Turn</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- ================================ 
            Players / Chat
            ================================= -->
        <!-- Comment for now
        <div id='player_list_chat_wrapper'>
            <div id='player_list_wrapper'>
                <div id='player_list'>
                    <ul id='player_list_players'>
                        <li>Enoex</li>
                        <li>Pillar</li>
                    </ul>
                </div>
            </div>
            <div id='chat_wrapper'>
                <div id='chat_inner'>
                    <div id='chat_log_wrapper'>
                        <div id='chat_log'>
                            Hello world
                        </div>
                    </div>
                    <div id='chat_message_wrapper'>
                        <input id='chat_message'
                            name='chat_message'
                            type='text'
                            value=''
                            placeholder='Message' />
                        <input id='chat_message_send'
                            name='chat_message_send'
                            value='Send'
                            type='button' />
                    </div>
                </div>
            </div>
        </div>
        -->

    <!-- close content -->
    </div>

     <!-- ================================
        Footer
    <div id='footer_wrapper'>
        <div id='footer'>
            <span class='email'>
                liamg [ta] 1xeone 
            </span>
        </div>
    </div>
    ================================= -->
</div>

<!-- ================================
    Templates
     ================================ -->

<!-- Target: Creature: Mine (User controlled) -->
<script type='text/template' id='template_ui_target_creature_mine'>
    <%= model.get('name') %>
    <br />
    Health: <%= model.get('health') %>
    <br />
    <%= model.get('movesLeft') %>
    Moves Left: <%= model.get('movesLeft') %>
</script>

<!-- Target: Creature: Theirs (Opponent controlled) -->
<script type='text/template' id='template_ui_target_creature_theirs'>
    <%= name %>
<br />
Estimated Health: <%= model.get('health') %>
</script>

<!-- Target: Cell -->
<script type='text/template' id='template_ui_target_cell'>
    <%= model.get('name') %>
</script>

<!-- ======================================================================

    SCRIPTS

    ======================================================================= -->
<!-- Google API -->
<script src='https://www.google.com/jsapi?key=ABQIAAAAIKnay6FXRbCarRCLzp6OSBT2yXp_ZAY8_ufC3CFXhHIE1NvwkxTSwhUv42NGUmSz4fSrk_Fa2Tgi9g' type='text/javascript'></script>

<!-- ======================================================================

    Third party
        underscore, json2js, jquery, backbone, d3

    ======================================================================= -->
<script src='/static/lib/all3rdjs.min.js'></script>

<!-- ======================================================================

    Vasir Engine Scripts

    ======================================================================= -->
    <script src='/static/js/namespace.js'></script>
    <script src='/static/js/logger.js'></script>
    <script src='/static/js/util.js'></script>

    <script src='/static/js/user-interface.js'></script>
    <script src='/static/js/player.js'></script>
    <script src='/static/js/creature.js'></script>
    <script src='/static/js/spells.js'></script>
    <script src='/static/js/map.js'></script>
    <script src='/static/js/cell.js'></script>
    <script src='/static/js/renderer.js'></script>
    <script src='/static/js/game.js'></script>
    <script src='/static/js/init.js'></script>

<!-- PROD
<script src='/static/js/build/vasirtactics.min.js'></script>
-->

</body>
</html>
